<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="UTF-8">
	<title>Merili Tiik</title>
   
</head>

<body>
       <img src="/banner/vp_banner_2024.png" alt=" veebiprogrammeerimise 2024 aasta kursuse banner">
  
  <h1>Merili Tiik</h1>
  <h2>Tere Tulemast!</h2>																						
  <p>See leht on loodud √µppet√∂√∂ raames <a href="https://www.tlu.ee/"> Tallinna √úlikoolis </a> ning ei sisalda t√µsiseltv√µetavat materjali!</p>
 
 <hr>
 <h2> Eesti filmid</h2>
 <ul>
	<li><a href ="/">Avalehele</a></li>
	<li><a href ="/eestifilm"> Eesti film</a></li>
 </ul>
 <hr>
 <ul>
	<% movies.forEach(function(movie) { %>
    	<li><%= movie.title %> (V‰ljalaskeaasta: <%= movie.production_year %>)</li>
	<% }); %>
 
 </ul>
</body>
</html>