<!DOCTYPE html>
<html lang="et">
<head>
	<meta charset="UTF-8">
	<title>Merili Tiik</title>
   
</head>

<body>
       <img src="/banner/vp_banner_2024.png" alt=" veebiprogrammeerimise 2024 aasta kursuse banner">
  
  <h1>Merili Tiik</h1>
  <h2>Tere Tulemast!</h2>																						
  <p>See leht on loodud õppetöö raames <a href="https://www.tlu.ee/"> Tallinna Ülikoolis </a> ning ei sisalda tõsiseltvõetavat materjali!</p>
 
 <hr>
 <h2> Eesti filmtegelased</h2>
 <ul>
	<li><a href ="/">Avalehele</a></li>
	<li><a href ="/eestifilm"> Eesti film</a></li>
 </ul>
 <hr>
 <ul>
	<% persons.forEach(function(item){ %>
	<li><%= item.firstName %> <%= item.lastName %> sündinud: <%= item.dateOfBirth %></li>
	<% }); %>
 </ul>
</body>
</html>